<tng-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="default">
    <h1>Form</h1>
    <tng-input [ngClass]="checkErrors(form.controls.username)">
      <input
        type="text"
        name="username"
        formControlName="username"
        placeholder="Name"
      />
      <i class="far fa-user"></i>
    </tng-input>
    <p></p>
    <tng-input green [ngClass]="checkErrors(form.controls.email)">
      <input type="email" formControlName="email" placeholder="Email" />
      <i class="far fa-envelope"></i>
    </tng-input>
    <p></p>

    <tng-rating
      currentRating="3"
      editable
      rainbow
      (newRating)="getRating($event)"
    ></tng-rating>
    <p></p>
    <tng-button> Submit </tng-button>
  </form>
</tng-card>

<tng-tab-panel>
  <tng-tab title="Tab1">
    <h1>Hello</h1>
  </tng-tab>
  <tng-tab title="Tab2">
    <h1>Good bye</h1>
  </tng-tab>
</tng-tab-panel>

<input type="color" (input)="setColor($event.target.value)" />
<h1 id="color">COLOR</h1>

<tng-modal><h1>Modal</h1></tng-modal>
